/* Hides Drupal warning boxes at the top of the page */
#header-box #home-link a {
  display: none!important;
}
#block-views-home-page-blocks-zen-ad-space,
#widget_pager_bottom_home_page_blocks_zen-block_5 {
    display: none; // hides the slideshow selector boxes until needed.
}
.front.logged-in.no-sidebars .skin-default {
	height: 260px; // removes the space used by the selector boxes.
}
#main {
  margin-top: 2em;
}

/** @media queries for mobile devices **/
/** Mobile - 768px to 820px **/
/** Narrow Screen - 821px to 979px **/
/** Desktop - 980px to max 1260px **/
/** Social sidebar cuts out at 1240px and reappears at mobile resolutions lower than 980px **/

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

@media only screen
  and (max-width:768px)
  and (max-height:1024px)
  and (orientation: portrait)  {

  #page {
      min-width:348px!important;
      max-width: 100%!important;
  }
  #main {
    width: 100%;
  }
  .view-content {
    text-align: center;
  }
  #social-side #status-update {
    max-width:340px;
    margin: 0 auto;
  }
  #views-slideshow-xtra-overlay--home-page-blocks-zen--attachment-4 .views-slideshow-xtra-overlay-row.views-slideshow-xtra-overlay-row {
    height:inherit!important;
    margin:10px!important;
    padding: 10px;
    width: initial!important;
    max-width: 350px;
    .slideshow_num_likes {
    margin-left: -10px;
}
  }
  #block-views-home-page-blocks-zen-block-5 {
    margin-bottom: 25px!important;
  }
  #widget_pager_bottom_home_page_blocks_zen-block_5 {
    position:relative;
    display: block;
    width: 315px;
    margin: 0 auto;
  }
.front.logged-in.no-sidebars .skin-default .views-slideshow-controls-bottom {
    top: 0px!important;
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
  #block-views-home-page-blocks-zen-block-1,
	#block-views-home-page-blocks-zen-block-3,
	#block-views-home-page-blocks-zen-block-4 {
    display: block!important;
    max-width: 325px!important;
    margin: 0 auto 10px!important;
  }
}
#block-views-home-page-blocks-zen-block-1,
	#block-views-home-page-blocks-zen-block-3,
	#block-views-home-page-blocks-zen-block-4 {
    max-width: 32.5%!important;
  }
  #admin-menu,
  #block-atwork-profiles-header,
  .front #block-block-5,
  #views_slideshow_controls_text_home_page_blocks_zen-block_5,
  #block-views-gallery-reference-block-2,
  #social-side #activity-feed,
  #social-side .atwork-activity-block-container .item-list,
  #block-boxes-homepage-logos,
  #footer #footer-copyright table td.sideBrdr,
  #block-block-52,
  .create-event {
    display: none!important;
  }
  .new-activity-window #social-side #activity-feed {
      display: block!important;
    }
  .front #social-side #status-update .form-textarea-wrapper textarea {
    width: inherit;
}
#social-side .jsNewActivityWindow {
    margin-right: 15px!important;
}
  .front #block-views-home-page-blocks-zen-block-2 {
    width:100%!important;
    height: 420px!important;
    margin: 0 auto!important;
    .view-content {
     margin: 0px !important;
    }
  }
  .section-classifieds .view-classifieds .views-row-odd, .section-classifieds .view-classifieds .views-row-even,
  .page-galleries .view-gallery-reference .views-row-odd, .page-galleries .view-gallery-reference .views-row-even,
  .section-blogs #block-views-blogs-block-3 .views-row-odd, .section-blogs #block-views-blogs-block-3 .views-row-even,
  .section-news .view-id-news.view-display-id-page_2 .views-row-odd, .section-news .view-id-news.view-display-id-page_2 .views-row-even,
  .section-corporate-news .view-id-news.view-display-id-page_3 .views-row-odd, .section-corporate-news .view-id-news.view-display-id-page_3 .views-row-even,
  .section-videos .view-display-id-page_1 .views-row-odd, .section-videos .view-display-id-page_1 .views-row-even,
  .section-videos .view-display-id-page_2 .views-row-odd, .section-videos .view-display-id-page_2 .views-row-even,
  .section-corporate-polls .view-display-id-page_2 .views-row-odd, .section-corporate-polls .view-display-id-page_2 .views-row-even,
  .section-polls .view-display-id-page_3 .views-row-odd, .section-polls .view-display-id-page_3 .views-row-even,
  .section-etc-talks #block-views-videos-block-4 .views-row-odd, .section-etc-talks #block-views-videos-block-4 .views-row-even,
  .section-executive-messages #block-views-executive-updates-block-2 .views-row-odd, .section-executive-messages #block-views-executive-updates-block-2 .views-row-even {
    text-align:left;
  }
  .section-blogs #block-views-blogs-block-3 .image-blog-landing img,
  .section-news .view-id-news.view-display-id-page_2 .image-news-landing img,
  .section-corporate-news .view-id-news.view-display-id-page_3 .image-news-landing img,
  .section-videos .view-display-id-page_1 .image-video-landing img,
  .section-videos .view-display-id-page_2 .image-video-landing img,
  .section-corporate-polls .view-display-id-page_2 .image-poll-landing img,
  .section-polls .view-display-id-page_3 .image-poll-landing img,
  .section-classifieds .view-classifieds .views-row .image-classifieds-section img,
  .node-type-classified.section-classifieds .region-post-content .views-row .image-addtional-classifieds img,
  .page-taxonomy .view-id-term_landing_page .views-row img,
  .section-etc-talks #block-views-videos-block-4 img,
  .view-executive-updates .image-exec-updates img {
    height:100%!important;
  }
  .front div#social-side {
    display:block!important;
    position: inherit;
    min-height: 200px;
    max-height: 500px;
  }
  .front div#social-side #block-atwork-activity-homepage {
    height:inherit!important;
  }
  .front .region.region-social-side {
    position: relative;
    top: 0px;
    width: 100%;
  }
  .front div#block-atwork-activity-homepage,
  .front #social-side h2.block__title.block-title {
  width: 100%!important;
  }
  .front #social-side h2.block__title.block-title {
     text-align: left;
     padding-left: 12px;
  }
  .front #social-side #status-update .form-textarea-wrapper {
    max-width:84%!important;
  }
  #social-side #status-update div#speech-pointer {
    margin-left: 45px!important;
  }
  /* Employee Landing Page and User following page */
  .section-employees .view-content .views-row,
  .view-people-admin .view-content .views-row,
  .page-user-following .view-content .views-row {
    min-width: 150px!important;
    max-width:23%!important;
    height: 370px!important;
    text-align:left;
  }
  .section-employees .view-content .views-row .image-employee-landing,
  .view-people-admin .view-content .views-row .image-employee-landing,
  .page-user-following .view-content .views-row .image-employee-landing {
    width:inherit!important;
    border-width: 12px!important;
  }
  form#views-exposed-form-people-admin-public-page #edit-last-name-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-first-name-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-interests-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-field-gal-last-name-value-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-field-gal-first-name-value-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-title-wrapper {
    width:100%;
  }
  form#views-exposed-form-people-admin-public-page #edit-title-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-ministry-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-city-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-skills-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-ministry-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-city-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-skills-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-interests-wrapper  {
    width: 48%;
  }
    .view-people-admin .view-content .views-row {
    .title-employee-landing,
    .name-employee-landing {
      margin: 0px 10px!important;
    }
  }
  /* Executive Profile Landing Page */
  /* PSA Head */
  .page-executive-team #content .view-Executive-Profiles .attachment-before {
    width:100%!important;
  }
  .view-Executive-Profiles.view-id-Executive_Profiles.view-display-id-attachment_1 {
    max-width:474px;
    margin: 0 auto;
  }
  .page-executive-team #content .view-Executive-Profiles .attachment-before .views-row.views-row-1.views-row-odd.views-row-first.views-row-last {
    width:100%!important;
  }
  .page-executive-team #content .view-Executive-Profiles .attachment-before .views-row.views-row-1.views-row-odd.views-row-first {
    height:auto!important;
  }
  .page-executive-team #content .view-Executive-Profiles .attachment-before .views-row.views-row-1.views-row-odd.views-row-first .profile-image {
    margin:5px 15px 0 5px!important;
  }
  /* Executive Profiles */

.page-executive-team #content .view-content .views-row-odd,
.page-executive-team #content .view-content .views-row-even {
    width: 230px!important;
    text-align:left;
}

/* Article Pages */
  .sidebar-second .region-sidebar-second {
    max-width:none;
    float:none;
    clear:both;
    margin:0 15px 0 10px;
    padding:0;
  }
.column {
  width:inherit!important;
}
  .region.region-bottom .view-display-id-related_content .views-row-odd,
  .region.region-bottom .view-display-id-related_content .views-row-even {
    width:inherit!important;
    min-width:19%!important;
    max-width: 46%!important;
    margin-left:5px;
}
#content article p > img { // adjustment for inline images
    float: left!important;
    width: initial!important;
    height:initial!important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.commentArticle .rate-widget {
  top: inherit!important;
  left: 0!important;
  padding-bottom: 10px!important;
}
.commentArticle .commentLinks,
.commentArticle .flag-abuse_comments {
  margin-top:25px!important;
}
#comments .odd,
#comments .even,
#comments #comment-form {
  margin:0 0 10px 0!important;
}
.poll .bar {
  width:65%!important;// width adjustment for poll voting bar
}
  /* Group Landing Page */
  #block-views-groups-block-2,
  .create-group,
  ul.tabs-primary.tabs.primary {
    display:none;
  }
  #content > div.view.view-Executive-Profiles.view-id-Executive_Profiles .pager-item {
    padding:0;
  }
  /* Group Article Page */
  #block-og-menu-og-single-menu-block .menu {
    max-width:75%;
    margin: 0 auto;
  }
  .section-groups article.node-section {
    img {
      height:inherit;
    }
  }
  .two-sidebars #content {
    float:none;
    width:0;
    margin-left:0;
    margin-right:0;
  }
  .two-sidebars aside .region.region-sidebar-second img {
    display:none;
  }
  aside .region.region-sidebar-first,
  aside .region.region-sidebar-second {
    border:none!important;
    clear:both!important;
  }
  .two-sidebars.section-groups.og-context.og-context-node .region-sidebar-first {
    position:inherit!important;
  }
 .not-front.logged-in.sidebar-first #content.column {
    margin-left:inherit!important;
    clear:both!important;
  }
  .og-context.og-context-node aside.sidebars {
    clear:both!important;
    width: 90%;
    margin:0 auto;
  }
  .og-context.og-context-node #page #main {
    padding-top: 10px!important;
  }
  .og-context.og-context-node #main h1 {
   position:relative!important;
   top: 0px!important;
   font-size: 1.25em;
   padding: 0 10px 0 0;
  }
  .one-sidebar.sidebar-first .pre-title-snipet {
    padding: 0!important;
  }
  .not-front .new-activity-window #social-side .region-social-side {
    #block-atwork-activity-homepage {
      width: 100%!important;
    }
    div#status-update {
      max-width: 250px;
    }
  }
  .media-youtube-video {
    max-width: 690px;
    min-height: 200px;
    margin: 0 auto;
  }
  .node-type-simplenews #main h1.title {
    font-size: 1.5em!important;
  }
  table#sn-newsletter-layout {
    zoom: .45;
    font-size: 12px!important;
  }
    .section-executive-messages #block-views-executive-updates-block-2 .view-content,
    .view-id-news.view-display-id-page_2 .view-content,
    .view-id-videos.view-display-id-page_1 .view-content {
      max-width: 700px!important;
      margin: 0 auto!important;
      text-align:center;
    }
    /* Groups landing page */
    .section-groups {
      .view-display-id-page_2 .view-content {
        text-align:left;
      }
      #edit-title-1-wrapper {
        margin-left: 0!important;
        float:none!important;
      }
      .form-item.form-type-textfield {
        display: block;
      }
    } 
}
@media only screen
  and (max-width:1024px)
  and (max-height:768px)
  and (orientation: landscape) {
    #page {
        min-width:352px!important;
        max-width: 960px;
        margin: 0 auto;
    }
    #main {
      width: 100%;
      max-width: 960px;
      margin: 0 auto;
    }
    .view-content {
      text-align: center;
    }
    #social-side #status-update {
    max-width:340px;
    margin: 0 auto;
  }
    #views-slideshow-xtra-overlay--home-page-blocks-zen--attachment-4 .views-slideshow-xtra-overlay-row.views-slideshow-xtra-overlay-row {
      height:inherit!important;
      margin:15px!important;
    }
    #block-views-home-page-blocks-zen-block-5 {
      margin-bottom: 25px!important;
    }
    #widget_pager_bottom_home_page_blocks_zen-block_5 {
      position:relative;
      display: block;
      width: 315px;
      margin: 0 auto;
    }
    .front.logged-in.no-sidebars .skin-default .views-slideshow-controls-bottom {
    top: 0px!important;
    }
    #admin-menu,
    .front #block-block-5,
    #views_slideshow_controls_text_home_page_blocks_zen-block_5,
    #social-side #activity-feed,
    #social-side .atwork-activity-block-container .item-list,
    #block-views-gallery-reference-block-2,
    #block-boxes-homepage-logos,
    #block-block-52,
    .create-event {
      display: none!important;
    }
    .new-activity-window #social-side #activity-feed {
      display: block !important;
    }
    #social-side .jsNewActivityWindow {
    margin-right: 15px!important;
    }
    #block-views-home-page-blocks-zen-block-1,
    #block-views-home-page-blocks-zen-block-3,
    #block-views-home-page-blocks-zen-block-4 {
        min-width: 100% !important;
        clear: both;
        height: inherit;
    }
    #block-views-home-page-blocks-zen-block-1 .view-content,
    #block-views-home-page-blocks-zen-block-3 .view-content,
    #block-views-home-page-blocks-zen-block-4 .view-content {
        display: block;
    }
    .front #block-views-home-page-blocks-zen-block-2 {
      max-width:630px!important;
      margin:0 auto!important;
    }
    .front #top-tools-panel {
      width:inherit!important;
    }
    .front .front-promoted-image {
      display: inline-block;
      clear:none;
      max-width: 300px;
      overflow: hidden;
      float:left;
      margin-right: 10px;
    }
    .employee-profile .image-employee-landing {
      display: inline-block;
      clear:none;
      height:120px;
      width: 90px;
      overflow: hidden;
      float:left;
    }
    .front .front-promoted-image img,
    .employee-profile .image-employee-landing img {
      display: block;
    }
    .front .promoted-info {
      margin-left:31%;
      padding: 10px 20px;
    }
    .front h3.front-promoted-title {
      clear:none;
      min-height:inherit;
      max-height:inherit;
      padding:10px 0 0 0;
      margin:0 0 10px 10px;
    }
    .front .front-promoted-posted,
    .front .front-promoted-teaser,
    .front .front-promoted-read,
    .front .front-promoted-comments,
    .front .front-promoted-likes,
    .front .front-promoted-more {
      clear:none;
      min-height:inherit;
      max-height:inherit;
      padding:0 10px 0 0;
      margin:0;
    }
    .front .front-promoted-teaser {
      max-height: 36px;
      overflow:hidden;
    }
    .front .front-promoted-more {
      border-top: none;
    }
    .front .front-promoted-comments,
    .front .front-promoted-likes,
    .front .front-promoted-more {
      display: inline-block;
      margin-top: 10px;
      float: none;
    }
    .section-classifieds .view-classifieds .views-row-odd, .section-classifieds .view-classifieds .views-row-even,
    .page-galleries .view-gallery-reference .views-row-odd, .page-galleries .view-gallery-reference .views-row-even,
    .section-blogs #block-views-blogs-block-3 .views-row-odd, .section-blogs #block-views-blogs-block-3 .views-row-even,
    .section-news .view-id-news.view-display-id-page_2 .views-row-odd, .section-news .view-id-news.view-display-id-page_2 .views-row-even,
    .section-corporate-news .view-id-news.view-display-id-page_3 .views-row-odd, .section-corporate-news .view-id-news.view-display-id-page_3 .views-row-even,
    .section-videos .view-display-id-page_1 .views-row-odd, .section-videos .view-display-id-page_1 .views-row-even,
    .section-videos .view-display-id-page_2 .views-row-odd, .section-videos .view-display-id-page_2 .views-row-even,
    .section-corporate-polls .view-display-id-page_2 .views-row-odd, .section-corporate-polls .view-display-id-page_2 .views-row-even,
    .section-polls .view-display-id-page_3 .views-row-odd, .section-polls .view-display-id-page_3 .views-row-even,
    .section-etc-talks #block-views-videos-block-4 .views-row-odd, .section-etc-talks #block-views-videos-block-4 .views-row-even,
    .section-executive-messages #block-views-executive-updates-block-2 .views-row-odd, .section-executive-messages #block-views-executive-updates-block-2 .views-row-even {
      display: inline-block!important;
      width:none;
      max-width:234px!important;
      margin: 0 auto 20px!important;
      padding-bottom: 25px;
      font-size:.9em;
      text-align: left;
    }
    .section-blogs #block-views-blogs-block-3 .image-blog-landing img,
    .section-news .view-id-news.view-display-id-page_2 .image-news-landing img,
    .section-corporate-news .view-id-news.view-display-id-page_3 .image-news-landing img,
    .section-videos .view-display-id-page_1 .image-video-landing img,
    .section-videos .view-display-id-page_2 .image-video-landing img,
    .section-corporate-polls .view-display-id-page_2 .image-poll-landing img,
    .section-polls .view-display-id-page_3 .image-poll-landing img,
    .section-classifieds .view-classifieds .views-row .image-classifieds-section img,
    .node-type-classified.section-classifieds .region-post-content .views-row .image-addtional-classifieds img,
    .page-taxonomy .view-id-term_landing_page .views-row img,
    .section-etc-talks #block-views-videos-block-4 img,
    .view-executive-updates .image-exec-updates img {
      height:100%!important;
    }
    .front div#social-side {
    display:block!important;
    position: inherit;
    min-height: 250px;
    max-height: 500px;
    overflow: auto;
  }
    .front .region.region-social-side {
      position: relative;
      top: 0px;
      width: 100%;
    }
    div#block-atwork-activity-homepage,
    .front #social-side h2 {
    width: 100%!important;
    }
    .front div#social-side #block-atwork-activity-homepage {
    height:inherit!important;
    background-color:#FFF;
    border: none;
    overflow-y:hidden;
    padding:0!important;
  }
    .front div#block-atwork-activity-homepage,
    .front #social-side h2.block__title.block-title {
    width: 100%!important;
    }
    .front #social-side h2.block__title.block-title {
      text-align: left;
      padding-left: 12px;
    }
    div#status-update {
    width: 410px;
    margin: 0 auto;
   }
   .front #social-side #status-update .form-textarea-wrapper textarea {
    width: inherit;
    }
    .front #social-side #status-update .form-textarea-wrapper {
    max-width:84%!important;
    }
  /* Employee Landing Page and User following page */
  .section-employees .view-content .views-row,
  .view-people-admin .view-content .views-row,
  .page-user-following .view-content .views-row {
    width:24%!important;
    max-height:400px!important;
    text-align:left;
  }
  .section-employees .view-content .views-row .image-employee-landing,
  .view-people-admin .view-content .views-row .image-employee-landing,
  .page-user-following .view-content .views-row .image-employee-landing {
    width:initial!important;
    height:initial!important;
    border-width: 12px!important;
  }
  form#views-exposed-form-people-admin-public-page #edit-last-name-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-first-name-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-interests-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-field-gal-last-name-value-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-field-gal-first-name-value-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-title-wrapper {
    width:100%;
  }
  form#views-exposed-form-people-admin-public-page #edit-title-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-ministry-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-city-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-skills-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-ministry-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-city-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-skills-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-interests-wrapper  {
    width: 48%;
  }
  .view-people-admin .view-content .views-row {
    .title-employee-landing,
    .name-employee-landing {
      margin: 0px 10px!important;
    }
  }
  /* Executive Profile Landing Page */
  /* PSA Head */
  .page-executive-team #content .view-Executive-Profiles .attachment-before {
    width:100%!important;
  }
  .page-executive-team #content .view-Executive-Profiles .attachment-before .views-row.views-row-1.views-row-odd.views-row-first.views-row-last {
    width:474px!important;
  }
  .page-executive-team #content .view-Executive-Profiles .attachment-before .views-row.views-row-1.views-row-odd.views-row-first {
    height:226px!important;
  }
  .page-executive-team #content .view-Executive-Profiles .attachment-before .views-row.views-row-1.views-row-odd.views-row-first .profile-image {
    margin: 5px 15px 0px 5px !important;
    width: 35.5%;
  }
  /* Executive Profiles */
.page-executive-team #content .view-content .views-row-odd,
.page-executive-team #content .view-content .views-row-even {
    width: 230px!important;
    text-align:left!important;
}
  /* Group Landing Page */
    .section-groups #content {
      p {
        margin-left:0!important;
      }
      .view-display-id-page_2 .view-content {
        text-align:left!important;
      }
      #edit-title-1-wrapper {
        margin-left: 0!important;
        float:none!important;
      }
      .form-item.form-type-textfield {
        display: block;
      }
    }
  #block-views-groups-block-2,
  .create-group {
    display:none;
  }
  #content > div.view.view-Executive-Profiles.view-id-Executive_Profiles .pager-item {
    padding:0;
  }
  /* News Article Pages */
  .column {
  width:inherit!important;
  // max-width:860px;
  margin-left:auto!important;
  margin-right:auto!important;
  clear:both;
  }
  ul.tabs-primary.tabs.primary {
    display: none;
  }
  .sidebar-second .region-sidebar-second {
    max-width:none;
    float:none;
    clear:both;
    margin:0 15px 0 10px;
    padding:0;
  }
  #content article img { // adjustment for inline images
    margin: 10px;
    width: inherit!important;
    height:inherit!important;
    float:left!important;
}
  .node-type-article article .rate-widget-2{
    position:initial!important;
  }
  .region.region-bottom .view-display-id-related_content .views-row-odd,
  .region.region-bottom .view-display-id-related_content .views-row-even {
    width:18.7%!important;
}
.region.region-bottom .view-display-id-related_content .image-related-content img {
  height:82px!important;
}
.commentArticle .rate-widget {
  top: inherit!important;
  left: 0!important;
  padding-bottom: 10px!important;
}
.commentArticle .commentLinks,
.commentArticle .flag-abuse_comments {
  margin-top:25px!important;
}
#comments .odd,
#comments .even,
#comments #comment-form {
  margin:0 0 10px 0!important;
}
  .sidebar-first aside .region.region-sidebar-first,
  .sidebar-second aside .region.region-sidebar-second {
    border:none!important;
  }
 .not-front.logged-in.sidebar-first #content.column {
    margin-left:inherit!important;
    clear:both!important;
  }
  .og-context.og-context-node aside.sidebars {
    clear:both!important;
    width: 100%;
  }
  .og-context.og-context-node #page #main {
    padding-top: 10px!important;
  }
  .og-context.og-context-node #main h1 {
   position:relative!important;
   top: 0px!important;
   font-size: 1.25em;
   padding: 0 10px 0 0;
  }
  .one-sidebar.sidebar-first .pre-title-snipet {
    padding: 0!important;
  }
  .media-youtube-video {
    max-width: 690px;
    margin: 0 auto;
  }
  table#sn-newsletter-layout {
    zoom: .8;
  }
  .not-front .new-activity-window #header.header {
    background: none !important;
  }
  .not-front .new-activity-window #social-side .region-social-side {
  width: 100%!important;
  min-width:initial!important;
  div#status-update {
    max-width: 250px;
  }
  }
  }
}


@media only screen and (max-width:979px) {
  html,
  #header.header,
  .not-front .new-activity-window #header.header {
    background: none !important;
  }
  #content.column {
    padding-left: 10px;
    padding-right: 10px;
  }
	#navigation,
	#block-views-top-tools-block,
  #block-custom-search-blocks-1,
  #block-block-45 {// hides the top tools panel
   		display: none !important;
    }
	#header.header,
  .not-front .new-activity-window #header.header { //make new space for mobile menu in nav space
    height: 60px!important;
    margin: 0;
  	}
 	#navigation .region-navigation { // move .region-nav to very top
    top: 0 !important;
    width: 100%;
  	}
	.front #block-views-home-page-blocks-zen-block-2.block.block-views {
		min-width: 100%;
	}
}
@media only screen and (min-width:980px) {
  .not-front .new-activity-window #header.header {
    background: none !important;
  }
  #block-atwork-mobile-atwork-mobile-menu-block,
  #block-block-45 {
    display: none !important;
  	}
	.front .region.region-pre-content,
	.front #block-block-5 {
		max-width: 960px;
		clear: both;
	}
	.front #header-box {
		min-width: 820px;
		max-width: 1280px; //container in top banner
	}
}

@media only screen and (max-width: 1240px) {
    #page {
    min-width:960px;
  }
    .front #social-side,
    #block-block-45 { // show social sidebar only on wide screen view - 1240 or greater
        display: none !important;
    }
}
