/* Hides Drupal warning boxes at the top of the page */

#block-views-home-page-blocks-zen-ad-space,
#widget_pager_bottom_home_page_blocks_zen-block_5 {
    display: none; // hides the slideshow selector boxes until needed.
}
.front.logged-in.no-sidebars .skin-default {
	height: 260px; // removes the space used by the selector boxes.
}
#main {
  margin-top: 2em;
}

/** @media queries for mobile devices **/
/** Mobile - 768px to 820px **/
/** Narrow Screen - 821px to 979px **/
/** Desktop - 980px to max 1260px **/
/** Social sidebar cuts out at 1240px and reappears at mobile resolutions lower than 980px **/

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
#header-box {
  display:none;
}
#content.column {
    max-width: inherit;
    margin: 0 auto;
}
.section-ecards {
  .form-type-bef-checkbox {
  width: initial!important;
  }
}

/*********************************************************************************/
/*************************** PORTRAIT IPHONE SETTINGS ****************************/
/*********************************************************************************/

@media only screen // iphone
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {

  #block-views-home-page-blocks-zen-block-2,
  aside.sidebars .region.region-sidebar-second {
    display: none!important;
  }
  .front .region.region-social-side {
    min-width:100%;
  }
#social-side div#status-update {
  width: 275px;
  margin: 0 auto;
  .form-textarea-wrapper {
    max-width:none;
  }
  .form-textarea-wrapper textarea {
    width: 225px;
  }
}
  #views-slideshow-xtra-overlay--home-page-blocks-zen--attachment-4 .views-slideshow-xtra-overlay-row.views-slideshow-xtra-overlay-row {
    width:inherit!important;
    height:inherit!important;
    margin:10px!important;
  }
  #block-views-home-page-blocks-zen-block-1,
	#block-views-home-page-blocks-zen-block-3,
	#block-views-home-page-blocks-zen-block-4 {
    display: block!important;
    min-width:325px;
    max-width: 90%;
    margin: 0 auto 10px!important;
  }
  .front #block-views-top-tools-block {
    margin-left: 4.5vw!important;
  }
  #block-views-executive-updates-block-2 {
      text-align: center;
  }
  .section-employees .view-content .views-row,
  .view-people-admin .view-content .views-row,
  .page-user-following .view-content .views-row {
    min-width:48%;
    .title-employee-landing {
      margin: 4px 10px!important;
    }
  }
    /* Executive Profile Landing Page */
  /* PSA Head */
  .page-executive-team #content .view-content {
    padding-left: 15px;
    text-align:center;
  }
.page-executive-team #content .attachment-before .views-row.views-row-1.views-row-odd.views-row-first {
  max-width:335px;
  height:initial!important;
  text-align:left;
}
.page-executive-team #content .attachment-before .views-row.views-row-1.views-row-odd.views-row-first.views-row-last {
  margin-bottom:20px;
}
  .page-executive-team #content .view-Executive-Profiles .attachment-before .views-row.views-row-1.views-row-odd.views-row-first .profile-image {
    margin: 5px 15px 0px 5px !important;
    width:initial;
  }
  .page-executive-team #content .attachment-before .views-row.views-row-1.views-row-odd.views-row-first {
    h3 {
      margin:0 0 0 15px!important;
    }
    h4 {
      margin-bottom:25px;
    }
  }
  /* Executive Profiles */
.page-executive-team #content .view-content .views-row.views-row-odd,
.page-executive-team #content .view-content .views-row.views-row-even {
  min-width:230px;
  text-align:left;
}
#content > div.view.view-Executive-Profiles.view-id-Executive_Profiles.view-display-id-page_1 > div.view-content > div.views-row.views-row-1.views-row-odd.views-row-first {
  margin-left:0!important;
}

//Article Landing Pages

.view-id-news, .view-id-videos, .view-id-article_series {
  text-align: center;
}
  .not-front.logged-in.sidebar-first #content.column,
  .not-front.logged-in.sidebar-second #content.column {
    width:inherit!important;
  }
.region.region-bottom .view-display-id-related_content .views-row-odd,
.region.region-bottom .view-display-id-related_content .views-row-even {
   min-width: 45%!important;
   margin-left: 5px;
}
.region.region-bottom .view-display-id-related_content .image-related-content img {
  height: 100px!important;
}
/* Group Landing Page */
.section-groups .views-exposed-widget ul,
.page-my-groups .views-exposed-widget ul {
    width: 100%!important;
    padding: 0px;
    text-align:center;
    li a.really-active {
      padding: 0!important;
      width: 30px;
    }
    li {
        border-right: none!important;
        padding: 0!important;
        margin: 0 3px 5px;
    }
    li a {
      display: block;
      border: solid 1px #999;
      width: 30px;
      height: 20px;
      text-align: center;
    }
}
/* Group landing page */
.section-groups .views-exposed-widget,
.page-my-groups .views-exposed-widget
.section-groups #edit-title-1-wrapper,
.section-groups #edit-desc-1-wrapper {
  margin-left: 0!important;
  width:100%!important;
  input {
    min-width: 360px;
    background-color: aliceblue;
  }
}
aside.sidebars .region.region-sidebar-first {
  position: relative!important;
  margin-left:10px;
  margin-right:10px;
}
/* Ministry Internet sites landing page */
.page-node-258 {
  article .field-name-body {
    text-align: center;
  }
  .field-item li {
    width: 140px!important;
  }
}
/* Ecards */
  .view-e-cards .views-row {
    min-height: 220px!important;
  } 
}

/*********************************************************************************/
/**************************** PORTRAIT IPAD SETTINGS *****************************/
/*********************************************************************************/

@media only screen // ipad
  and (max-width:768px)
  and (max-height:1024px)
  and (orientation: portrait)  {
  #page {
      min-width:348px!important;
      max-width:768px!important;
  }
  .front #page #main {
    margin-left: 5px;
    margin-right: 5px;
  }
  .not-front #page {
    margin-left: 10px;
    margin-right: 10px;
}
  #block-views-home-page-blocks-zen-block-5 {
    margin-bottom: 25px!important;
  }
  #widget_pager_bottom_home_page_blocks_zen-block_5 {
    position:relative;
    display: block;
    width: 330px;
    margin: 0 auto;
  }
.front.logged-in.no-sidebars .skin-default .views-slideshow-controls-bottom {
    top: 0px!important;
}
    .front .views-slideshow-pager-fields > div {
      padding-left:0;
      display: inline-block;
    }
  .front .region.region-social-side {
      position: relative;
      top: 0px;
      min-width:100%;
      margin: 0 auto;
  }
#social-side div#status-update {
  width: 350px;
  margin: 0 auto;
  .form-textarea-wrapper {
    max-width:none;
  }
  .form-textarea-wrapper textarea {
    width: 297px;
  }
}


#block-views-home-page-blocks-zen-block-1,
#block-views-home-page-blocks-zen-block-3,
#block-views-home-page-blocks-zen-block-4 {
    max-width: 32.5%!important;
  }
  #admin-menu,
  #block-atwork-profiles-header,
  .front #block-block-5,
  #views_slideshow_controls_text_home_page_blocks_zen-block_5,
  #block-views-gallery-reference-block-2,
  #social-side #activity-feed,
  #social-side .atwork-activity-block-container .item-list,
  #block-boxes-homepage-logos,
  #footer #footer-copyright table td.sideBrdr,
  #block-block-52,
  .create-event {
    display: none!important;
  }
  .new-activity-window #social-side {
    #block-atwork-activity-homepage {
      background-color:#fff;
    }
    #activity-feed,
    .atwork-activity-block-container .item-list {
      display: block!important;
      }
      .atwork-activity-block-container .item-list ul.pager a {
        padding: 0;
      }
  }


#social-side .jsNewActivityWindow {
    margin-right: 15px!important;
}
.front #block-views-home-page-blocks-zen-block-2.block.block-views {
  min-width:54%!important;
}

  .section-classifieds .view-classifieds .views-row-odd, .section-classifieds .view-classifieds .views-row-even,
  .page-galleries .view-gallery-reference .views-row-odd, .page-galleries .view-gallery-reference .views-row-even,
  .section-blogs #block-views-blogs-block-3 .views-row-odd, .section-blogs #block-views-blogs-block-3 .views-row-even,
  .section-news .view-id-news.view-display-id-page_2 .views-row-odd, .section-news .view-id-news.view-display-id-page_2 .views-row-even,
  .section-corporate-news .view-id-news.view-display-id-page_3 .views-row-odd, .section-corporate-news .view-id-news.view-display-id-page_3 .views-row-even,
  .section-videos .view-display-id-page_1 .views-row-odd, .section-videos .view-display-id-page_1 .views-row-even,
  .section-videos .view-display-id-page_2 .views-row-odd, .section-videos .view-display-id-page_2 .views-row-even,
  .section-corporate-polls .view-display-id-page_2 .views-row-odd, .section-corporate-polls .view-display-id-page_2 .views-row-even,
  .section-polls .view-display-id-page_3 .views-row-odd, .section-polls .view-display-id-page_3 .views-row-even,
  .section-etc-talks #block-views-videos-block-4 .views-row-odd, .section-etc-talks #block-views-videos-block-4 .views-row-even,
  .section-executive-messages #block-views-executive-updates-block-2 .views-row-odd, .section-executive-messages #block-views-executive-updates-block-2 .views-row-even,
  .section-series #block-views-article-series-block-2 .views-row-odd, .section-series #block-views-article-series-block-2 .views-row-even {
    min-width:230px;
    max-width: 90%;
    padding-bottom: 25px;
    text-align: left;
  }
  .section-blogs #block-views-blogs-block-3 .image-blog-landing img,
  .section-news .view-id-news.view-display-id-page_2 .image-news-landing img,
  .section-corporate-news .view-id-news.view-display-id-page_3 .image-news-landing img,
  .section-videos .view-display-id-page_1 .image-video-landing img,
  .section-videos .view-display-id-page_2 .image-video-landing img,
  .section-corporate-polls .view-display-id-page_2 .image-poll-landing img,
  .section-polls .view-display-id-page_3 .image-poll-landing img,
  .section-classifieds .view-classifieds .views-row .image-classifieds-section img,
  .node-type-classified.section-classifieds .region-post-content .views-row .image-addtional-classifieds img,
  .page-taxonomy .view-id-term_landing_page .views-row img,
  .section-etc-talks #block-views-videos-block-4 img,
  .view-executive-updates .image-exec-updates img {
    height:100%!important;
  }
  .front div#social-side {
    display:block!important;
    position: inherit;
    min-height: 200px;
    max-height: 415px;
  }
  .front div#social-side #block-atwork-activity-homepage {
    height:inherit!important;
  }
  .front div#block-atwork-activity-homepage,
  .front #social-side h2.block__title.block-title {
  width: 100%!important;
  }
  .front #social-side h2.block__title.block-title {
     text-align: left;
     padding-left: 12px;
  }
  /* Employee Landing Page and User following page */
  .section-employees .view-content .views-row,
  .view-people-admin .view-content .views-row,
  .page-user-following .view-content .views-row {
    max-width:24%;
  }
  .section-employees .view-content .views-row .image-employee-landing,
  .view-people-admin .view-content .views-row .image-employee-landing,
  .page-user-following .view-content .views-row .image-employee-landing {
    width:initial!important;
    border-width: 12px!important;
  }
  form#views-exposed-form-people-admin-public-page #edit-last-name-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-first-name-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-interests-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-field-gal-last-name-value-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-field-gal-first-name-value-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-title-wrapper {
    width:100%;
  }
  form#views-exposed-form-people-admin-public-page #edit-title-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-ministry-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-city-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-skills-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-ministry-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-city-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-skills-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-interests-wrapper  {
    width: 48%;
  }
  /* Executive Profile Landing Page */
  /* PSA Head */
  .page-executive-team #content .view-content {
    padding-left: 15px;
  }
.page-executive-team #content .attachment-before .views-row.views-row-1.views-row-odd.views-row-first {
  width:470px!important;
}
  /* Executive Profiles */
.page-executive-team #content .view-content .views-row.views-row-odd,
.page-executive-team #content .view-content .views-row.views-row-even {
  width: 31%!important;
}
#content > div.view.view-Executive-Profiles.view-id-Executive_Profiles.view-display-id-page_1 > div.view-content > div.views-row.views-row-1.views-row-odd.views-row-first {
  margin-left: 120px;
}

/* Article Pages */
  .sidebar-second .region-sidebar-second {
    max-width:24%;
    float:right;
    clear:none;
    margin:0 15px 0 10px;
    padding:0;
  }

  .region.region-bottom .view-display-id-related_content .views-row-odd,
  .region.region-bottom .view-display-id-related_content .views-row-even {
    max-width: 18%!important;
    margin-left: 5px;
}
.region.region-bottom .view-display-id-related_content .image-related-content img {
  height: 100px!important;
}
#content article p > img { // adjustment for inline images
    max-width: 100%!important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.commentArticle .rate-widget {
  top: inherit!important;
  left: 0!important;
  padding-bottom: 10px!important;
}
.commentArticle .commentLinks,
.commentArticle .flag-abuse_comments {
  margin-top:25px!important;
}
#comments .odd,
#comments .even,
#comments #comment-form {
  margin:0 0 10px 0!important;
}
.poll .bar {
  width:65%!important;// width adjustment for poll voting bar
}
  /* Group Landing Page */
  #block-views-groups-block-2,
  .create-group,
  ul.tabs-primary.tabs.primary {
    display:none;
  }
  #content > div.view.view-Executive-Profiles.view-id-Executive_Profiles .pager-item {
    padding:0;
  }
  /* Group Article Page */
  .sidebar-first aside .region.region-sidebar-first,
  .sidebar-second aside .region.region-sidebar-second {
    border:none!important;
  }
 .not-front.logged-in.sidebar-first #content.column {
    margin-left:inherit!important;
    clear:both!important;
  }
  .og-context.og-context-node aside.sidebars {
    clear:both!important;
    width: inherit;
  }
  .og-context.og-context-node #page #main {
    padding-top: 10px!important;
  }
  .og-context.og-context-node #main h1 {
   position:relative!important;
   top: 0px!important;
   font-size: 1.25em;
   padding: 0 10px 0 0;
  }
  .one-sidebar.sidebar-first .pre-title-snipet {
    padding: 0!important;
  }
  /* Group Landing Page */
.section-groups .views-exposed-widget ul,
.page-my-groups .views-exposed-widget ul {
  width:inherit!important;
  margin: 0!important;
  padding: 0!important;
  text-align: center;
}
/* Ministry Internet sites */
.page-node-258 {
  article .field-name-body {
    text-align: center;
  }
  .field-item li {
    min-width: 25%;
  }
}
/* Ecards */
  .view-e-cards .views-row {
    min-height: 310px;
  }
}

/*********************************************************************************/
/*************************** LANDSCAPE IPHONE SETTINGS ***************************/
/*********************************************************************************/

@media only screen // iphone
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
.front #page #main {
  margin-left: 5px;
  margin-right: 5px;
}
.not-front #page {
    margin-left: 5px;
    margin-right: 5px;
}
  #block-views-home-page-blocks-zen-block-2,
  #block-boxes-homepage-logos,
  .atwork-activity-block-container .item-list ul.pager {
    display: none!important;
  }
  .front .region.region-social-side {
    min-width:100%;
  }
  #views-slideshow-xtra-overlay--home-page-blocks-zen--attachment-4 .views-slideshow-xtra-overlay-row {
     width:80%!important;
  }
#social-side div#status-update {
  width: 350px;
  margin: 0 auto;
  .form-textarea-wrapper {
    max-width:none;
  }
  .form-textarea-wrapper textarea {
    width: 297px;
  }
}
  #block-views-home-page-blocks-zen-block-1,
  #block-views-home-page-blocks-zen-block-3,
  #block-views-home-page-blocks-zen-block-4 {
      min-width: 100% !important;
      max-width:786px;
      clear: both;
      height: inherit;
  }
  .front #block-views-top-tools-block {
    width: 100%;
    margin-left: 0!important;
    height: 240px!important;
    #top-tools-links p {
      width: 49%;
      display: inline-block;
      margin-right: 3px;
    }
  }
    .front .front-promoted-image {
      display: inline-block;
      clear:none;
      width: 40%;
      overflow: hidden;
      float:left;
      margin-right: 10px;
    }
    .front .front-promoted-comments,
    .front .front-promoted-likes,
    .front .front-promoted-more {
      margin: 0!important;
      padding: 0 10px 0 0!important;
    }
    /* Executive Profiles */

.not-front .page-executive-team #page {
  margin-left:inherit!important;
  margin-right:inherit!important;
}
.page-executive-team #content .attachment-before {
   width: 425px!important;
}
.page-executive-team #content .view-content {
   margin-left:10px;
}
.page-executive-team #content .view-content .views-row.views-row-odd,
.page-executive-team #content .view-content .views-row.views-row-even {
  min-width:31%;
  text-align:left;
  height:340px!important;
}
.page-executive-team #content .profile-image img {
  height:initial!important;
}
#content > div.view.view-Executive-Profiles.view-id-Executive_Profiles.view-display-id-page_1 > div.view-content > div.views-row.views-row-1.views-row-odd.views-row-first {
  margin-left:0!important;
}
//Article Landing Pages
.not-front.logged-in.sidebar-first #content.column,
.not-front.logged-in.sidebar-second #content.column {
  width:66.66%!important;
}
.view-id-news, .view-id-videos, .view-id-article_series {
  text-align: center;
}
.view-id-news, .view-id-videos, .view-id-article_series {
  .reads-news-landing,
  .reads-video-landing {
    margin-right: 5px!important;
  }
}
  /* Group Landing Page*/
.section-groups .views-exposed-widget ul,
.page-my-groups .views-exposed-widget ul {
    width: 83%!important;
    padding: 0px;
    text-align:center;
    li a.really-active {
      padding: 0!important;
      width: 30px;
    }
    li {
        border-right: none!important;
        padding: 0!important;
        margin: 0 3px 5px;
    }
    li a {
      display: block;
      border: solid 1px #999;
      width: 30px;
      height: 20px;
      text-align: center;
    }
}
.section-groups #edit-title-1-wrapper,
.section-groups #edit-desc-1-wrapper {
  margin-left: 0!important;
  width:100%!important;
  input {
    min-width: 600px;
    background-color: aliceblue;
  }
}
.views-exposed-form .views-exposed-widget {
  padding: initial;
}
/* Article / Blog pages with sidebars */
.og-context.og-context-node {
  aside.sidebars {
    display: block;
    clear:none!important;
  }
  #content article {
    padding-left: 0;
  }
  #main h1 {
    width:inherit!important;
    margin-right:10px;
  }
}
.two-sidebars.section-groups.og-context.og-context-node .region-sidebar-first {
  margin-top: -14px!important;
}
.page-node-258 {
  article .field-name-body {
    text-align: center;
  }
  .field-item li {
    min-width: 25%;
  }
}
/* Ecards */
  .view-e-cards .views-row {
    min-height: 280px;
  }
}

/*********************************************************************************/
/*************************** LANDSCAPE IPAD SETTINGS *****************************/
/*********************************************************************************/


@media only screen // ipad
  and (max-width:1024px)
  and (max-height:768px)
  and (orientation: landscape) {
  .atwork-activity-block-container .item-list ul.pager {
    display: none!important;
  }
    #page {
        min-width:352px!important;
        max-width:980px!important;
    }
    #block-views-home-page-blocks-zen-block-5 {
      margin-bottom: 25px!important;
    }
    #widget_pager_bottom_home_page_blocks_zen-block_5 {
      position:relative;
      display: block;
      width: 330px;
      margin: 0 auto;
    }
    .front .views-slideshow-pager-fields > div {
      padding-left:0;
      display: inline-block;
    }
    .front.logged-in.no-sidebars .skin-default .views-slideshow-controls-bottom {
    top: 0px!important;
    }
    #admin-menu,
    .front #block-block-5,
    #views_slideshow_controls_text_home_page_blocks_zen-block_5,
    #social-side #activity-feed,
    #block-views-gallery-reference-block-2,
    //#block-boxes-homepage-logos,
    #block-block-52,
    .create-event {
      display: none!important;
    }

    .new-activity-window #social-side #activity-feed {
      display: block !important;
    }
    #social-side .jsNewActivityWindow {
    margin-right: 15px!important;
    }
#social-side div#status-update {
  width: 350px;
  margin: 0 auto;
  .form-textarea-wrapper {
    max-width:none;
  }
  .form-textarea-wrapper textarea {
    width: 297px;
  }
}
    .front #block-views-home-page-blocks-zen-block-2 {
      width:609px!important;
      margin:0 auto!important;
    }
    .front #top-tools-panel {
      width:inherit!important;
    }

    .employee-profile .image-employee-landing {
      display: inline-block;
      clear:none;
      height:120px;
      width: 90px;
      overflow: hidden;
      float:left;
    }
    .front .front-promoted-image img,
    .employee-profile .image-employee-landing img {
      display: block;
    }
    .front .promoted-info {
      margin-left:31%;
      padding: 10px 20px;
    }
    .front h3.front-promoted-title {
      clear:none;
      min-height:inherit;
      max-height:inherit;
      padding:10px 0 0 0;
      margin:0 0 10px 10px;
    }
    .front .front-promoted-posted,
    .front .front-promoted-teaser,
    .front .front-promoted-read,
    .front .front-promoted-comments,
    .front .front-promoted-likes,
    .front .front-promoted-more {
      clear:none;
      min-height:inherit;
      max-height:inherit;
      padding:0 10px;
    }
    .front .front-promoted-more {
      border-top: none;
    }
    .front .front-promoted-comments,
    .front .front-promoted-likes,
    .front .front-promoted-more {
      display: inline-block;
      margin-top: 10px;
      float: none;
    }
    #block-views-executive-updates-block-2,
    .view-id-news, .view-id-videos {
      text-align: center;
    }
    .view-id-news,.view-id-videos, .view-id-article_series {
      .reads-news-landing,
      .reads-video-landing {
        margin-right: 5px!important;
      }
    }
    .section-classifieds .view-classifieds .views-row-odd, .section-classifieds .view-classifieds .views-row-even,
    .page-galleries .view-gallery-reference .views-row-odd, .page-galleries .view-gallery-reference .views-row-even,
    .section-blogs #block-views-blogs-block-3 .views-row-odd, .section-blogs #block-views-blogs-block-3 .views-row-even,
    .section-news .view-id-news.view-display-id-page_2 .views-row-odd, .section-news .view-id-news.view-display-id-page_2 .views-row-even,
    .section-corporate-news .view-id-news.view-display-id-page_3 .views-row-odd, .section-corporate-news .view-id-news.view-display-id-page_3 .views-row-even,
    .section-videos .view-display-id-page_1 .views-row-odd, .section-videos .view-display-id-page_1 .views-row-even,
    .section-videos .view-display-id-page_2 .views-row-odd, .section-videos .view-display-id-page_2 .views-row-even,
    .section-corporate-polls .view-display-id-page_2 .views-row-odd, .section-corporate-polls .view-display-id-page_2 .views-row-even,
    .section-polls .view-display-id-page_3 .views-row-odd, .section-polls .view-display-id-page_3 .views-row-even,
    .section-etc-talks #block-views-videos-block-4 .views-row-odd, .section-etc-talks #block-views-videos-block-4 .views-row-even,
    .section-executive-messages #block-views-executive-updates-block-2 .views-row-odd, .section-executive-messages #block-views-executive-updates-block-2 .views-row-even,
    .section-series #block-views-article-series-block-2 .views-row-odd, .section-series #block-views-article-series-block-2 .views-row-even {
      display: inline-block!important;
      width:200px;
      //margin: 0 auto 20px!important;
      padding-bottom: 25px;
      font-size:.9em;
      text-align:left;
    }

    .front div#social-side {
    display:block!important;
    position: inherit;
    min-height: 250px;
    overflow: auto;
    }
    .front .region.region-social-side {
      position: relative;
      top: 0px;
      width: 75%;
      margin: 0 auto;
    }
    div#block-atwork-activity-homepage,
    .front #social-side h2 {
    width: 100%!important;
    }
    .front div#social-side #block-atwork-activity-homepage {
    height:inherit!important;
    background-color:#FFF;
    border: none;
    overflow-y:hidden;
    padding:0!important;
  }
    .front div#block-atwork-activity-homepage,
    .front #social-side h2.block__title.block-title {
    width: 100%!important;
    }
    .front #social-side h2.block__title.block-title {
      text-align: left;
      padding-left: 12px;
    }

  /* Employee Landing Page and User following page */
  .section-employees .view-content .views-row,
  .view-people-admin .view-content .views-row,
  .page-user-following .view-content .views-row {
    width:24%!important;
    height: 415px!important;
  }
  .section-employees .view-content .views-row .image-employee-landing,
  .view-people-admin .view-content .views-row .image-employee-landing,
  .page-user-following .view-content .views-row .image-employee-landing {
    width:initial!important;
    height:initial!important;
    border-width: 12px!important;
  }
  form#views-exposed-form-people-admin-public-page #edit-last-name-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-first-name-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-interests-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-field-gal-last-name-value-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-field-gal-first-name-value-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-title-wrapper {
    width:100%;
  }
  form#views-exposed-form-people-admin-public-page #edit-title-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-ministry-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-city-wrapper,
  form#views-exposed-form-people-admin-public-page #edit-skills-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-ministry-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-city-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-skills-wrapper,
  form#views-exposed-form-people-admin-page-following2 #edit-interests-wrapper  {
    width: 48%;
  }

  /* Group Landing Page */
  #block-views-groups-block-2,
  .create-group {
    display:none;
  }
  #content > div.view.view-Executive-Profiles.view-id-Executive_Profiles .pager-item {
    padding:0;
  }
.section-groups .views-exposed-widget ul,
.page-my-groups .views-exposed-widget ul {
  width:inherit!important;
  margin: 0!important;
  text-align: center;
}

  /* News Article Pages */
section.region.region-sidebar-second.column.sidebar {
    float: right;
    max-width:28%;
    clear: none;
    margin-top: -40px;
}
  ul.tabs-primary.tabs.primary {
    display: none;
  }
  .sidebar-second .region-sidebar-second {
    max-width:none;
    float:none;
    clear:both;
    margin:0 15px 0 10px;
    padding:0;
  }
  #content article p > img { // adjustment for inline images
    margin-top: 10px;
    margin-bottom: 10px;
}
  .node-type-article article .rate-widget-2{
    position:initial!important;
  }
  .region.region-bottom .view-display-id-related_content .views-row-odd,
  .region.region-bottom .view-display-id-related_content .views-row-even {
    width:18.7%!important;
    height:inherit!important;
}
.commentArticle .rate-widget {
  top: inherit!important;
  left: 0!important;
  padding-bottom: 10px!important;
}
.commentArticle .commentLinks,
.commentArticle .flag-abuse_comments {
  margin-top:25px!important;
}
#comments .odd,
#comments .even,
#comments #comment-form {
  margin:0 0 10px 0!important;
}
  .sidebar-first aside .region.region-sidebar-first,
  .sidebar-second aside .region.region-sidebar-second {
    border:none!important;
  }
 .not-front.logged-in.sidebar-first #content.column {
    margin-left:inherit!important;
    clear:both!important;
  }
/*  .og-context.og-context-node aside.sidebars {
    clear:both!important;
    width: 100%;
  }*/
  .og-context.og-context-node #page #main {
    padding-top: 10px!important;
  }
  .og-context.og-context-node #main h1 {
   position:relative!important;
   top: 0px!important;
   font-size: 1.25em;
   padding: 0 10px 0 0;
  }
  .one-sidebar.sidebar-first .pre-title-snipet {
    padding: 0!important;
  }
  }
 /* Ministry Internet sites */ 
  .page-node-258 {
  article .field-name-body {
    text-align: center;
  }
}
/* Ecards */
  .view-e-cards .views-row {
    min-height: 310px;
  }
}





@media only screen and (max-width:979px) {
  html,
  #header.header,
  .new-activity-window #header.header {
    background: none !important;
  }
  #content.column {
      // max-width: 98%;
      margin: 0 auto;
  }
	#navigation,
  #block-custom-search-blocks-1,
  #block-block-45 {// hides the top tools panel
   		display: none !important;
    }
	#header.header,
  .not-front .new-activity-window #header.header { //make new space for mobile menu in nav space
    height: 60px!important;
    margin: 0;
  	}
 	#navigation .region-navigation { // move .region-nav to very top
    top: 0 !important;
    width: 100%;
  	}
	.front #block-views-home-page-blocks-zen-block-2 {
		min-width: 63%!important;
	}
}
@media only screen and (min-width:980px) {
  .new-activity-window #header.header {
    background: none !important;
  }
  #block-atwork-mobile-atwork-mobile-menu-block,
  #block-block-45 {
    display: none !important;
  	}
	.front .region.region-pre-content,
	.front #block-block-5 {
		max-width: 960px;
		clear: both;
	}
	.front #header-box {
		min-width: 820px;
		max-width: 1280px; //container in top banner
	}
}

@media only screen and (max-width: 1240px) {
    #page {
    min-width:960px;
  }
    .front #social-side,
    #block-block-45 { // show social sidebar only on wide screen view - 1240 or greater
        display: none !important;
    }
}
