/* Site Colours - includes primary, panels, text, link and special colours */

// Top banner, footer
$banner-blue-dark:#004B8D;
$banner-blue-light:#26669E;

// Active Links
$atwork-active:#FED463;

// Active link rollover
$atwork-hover:#003462;

// Heading tags, titles, lines, pager text
$title-green:#008D7B; //Group title, HP Events / HP Top Tools, Community color
$div-line:#E0E0E0; // Seperation lines
$pager-text:#666;

// Panels

$panel-bknd-color:#D7D7D7; // Panel background
$panel-tabs-color:#C7C7C7; // Inactive panel tabs - alt comment row
$panel-title-color:#818283; // Panel title bars - front grid bknd - Active tab

$panel-banner-color:#ECECEC; // Top banner background

