//----------------- Common Activity Feed styles - Applies to both front and profile page

.block-atwork-activity {
  #edit-status { // textarea status box
    padding: 0.5em;
  }
  .field-label { // hide the field labels
    display: none;
  }
  .block-refresh-button {
    display: none;
  }
  .form-textarea {
    border: 5px solid #26669E;
  }
  #profile-comment-link { // shows the Message Check link
    display: none;
  }
  #saving-notification-status {
    @include atwork-messages(green, ok);
  }
  // Initially hide the comment textarea and submit button and unhide with .js
  .comment-submit-button,
  .field-name-field-profile-comment .form-textarea-wrapper {
    display: none;
  }
  .comment-submit-button-show,
  .field-name-field-profile-comment-show .form-textarea-wrapper {
    display: block;
  }
  .toggle-com-button {
    background:none !important;
    border:none;
    padding:0 !important;
    font: inherit;
    color: #135ab0;
    cursor: pointer;
    font-size: 10px;
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
  .new-message-count {
    display: block;
    position: relative;
    top: -33px;
    left: 98px;
    left: 92px\0/ !important;/* For IE only */
    z-index: 100;
    width: 24px;
    height: 21px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
  }
  #message-count-number {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 100%;
    font-size: .9em;
    &:hover {
      cursor:pointer;
    }
  }
    #notification-pop {
    border: solid 1px #000;
    display: inline;
    padding: 2px 5px;
    background-color: #FFF;
    position: absolute;
    top: 12px;
    left: 10px;
    z-index: 100;
    }
  .comment-icon:before { // this was placed with jQuery since can't use :before on input tag
    position: absolute;
    left: 4px;
    bottom: 4px;
    content: "\f075"; // the comment icon
    font: normal normal normal 10px/1 FontAwesome;
    color: #4072a0;
  }
  #edit-status-counter { // hide the text counter
    display: none;
  }
}



//--------- Social Side Activity Feed

//----- General Layout
#social-side {
  // start all Header items
  h2 {
    // position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
  }
  .block-header-inner {
    float: right;
    margin-top: -3px;
    margin-right: 7px;
  }
  .activity-filters-my,
  .activity-filters-all {
    border: none;
  }
  .activity-filters-my {// button to show filters for my-actions
    width:24px;
    background: url(/sites/all/themes/atwork_zen/images/icons/activity-selectors-my-off.png) no-repeat center center;
    &.active,
    &:hover {
      background: url(/sites/all/themes/atwork_zen/images/icons/activity-selectors-my-on.png) no-repeat center center;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  .activity-filters-all {// button to show filters for all-activity
    width: 68px;
    background: url(/sites/all/themes/atwork_zen/images/icons/activity-selectors-all-off.png) no-repeat center center;
    &.active,
    &:hover {
      background: url(/sites/all/themes/atwork_zen/images/icons/activity-selectors-all-on.png) no-repeat center center;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  .jsNewActivityWindow {// the pop-out linked button
    margin-right: 6px;
    &:hover {
      opacity: 0.7;
    }
    img {
      margin-bottom: -6px;
    }
  }
  // start Advanced Filters
  .user-advanced-feed-settings-view { // hide for regular users
    display: none;
  }
  .admin-advanced-feed-settings-view { // show for admins and editors
    display: block;
  }
  // end Advanced Filters

  // end all Header items

  // start feed-ad-space
    .feed-ad-space-image { // Lives outside of the ad-space container
      margin-bottom: -6px; // bring the adspace box up to the image
      text-align: center;
      background-color: #26669E;
    }
    .feed-ad-space-outer { // Everything within the ad-space container
      border: 1px solid grey;
      padding: 1em;
      background: #D7D7D7;
      position: relative;
    }

    .feed-ad-space-content {
      font-size: 13px;
      margin-bottom: 1em;
      h2 {
        position: inherit;
        line-height: 1.2em;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0px;
        width: inherit !important;
        text-transform: uppercase;
        font-size: 12px;
      }
      p {
        margin: 1em 0;
        &:first-child {
          margin-top: 0;
        }
        img { // any inline image
          margin-right: 7px;
          margin-bottom: 4px;
        }
      }
    }
    .feed-ad-space-author-date {
      font-size: 10px;
    }

    // end feed-ad-space

/*  .atwork-activity-block-container {
    margin-top: 46px; // push down the container because the header is positioned absolutely
  }*/
  #atwork-activity-form {
    .form-item {
      margin-top: 0.5em;
      margin-bottom: .5em;
    }
  }
  #status-submit-button {
    clear: both;
    text-align: right;
  }
  #status-update {
    margin-top: 10px;
  }
  #status-update {
    .field-name-field-image {
      float: left;
      max-width: 50px;
    }
    div#speech-pointer {//adds pointer arrow to status update bubble on activity feed
    display: block;
    float:left;
    width: 12px;
    height: 18px;
    background: url(/sites/all/modules/custom/atwork_activity/img/speech-arrow.png) no-repeat;
    padding: 0;
    margin: 15px 0 0 0;
    position:relative;
    }
    .form-textarea-wrapper {
      position: relative;
      left: 0px;
      float: none;
      max-width: none;
      textarea {
        min-width:none;
        max-width: 197px;
      }
    }
   .resizable-textarea .grippie {
     margin-top:3px;
   } 
  }
  #saving-notification-status {
    margin-left: 50px;
  }
  #activity-feed {
    clear: both;
    display: block;
    margin-top: .8em;
    padding-bottom: 2em;
  }
  #atwork-activity-customize-feed-form .description {
    margin-bottom: 1em;
  }
  .item-list { // the pager
    display: block;
    width: 100%;
    position: absolute;
    bottom: 18px;
    padding: 0;
    margin: 0;
    left:  0;
    background-color: #FFF;
  }

  ul.pager {
    margin: 0 auto;
    border-top: solid 1px #E0E0E0;
    padding-top:3px;
    padding-bottom: 3px;
    background-color: #FFF;
  }

}


//----- message box styling only

#social-side {
  .atwork-activity {
    #status-submit-button {
      text-align: right;
      margin-top: -3em;
    }
    label {
      display: none; //hide all labels. We don't need them
    }

    > .message  { // start outer message div styling
      position: relative;
      min-height: 100px;
      padding: 4px;
      border: 1px solid lighten(#777, 45%);
      margin-bottom: .5em;
      background: lighten(#777, 49%) url(/sites/all/themes/atwork_zen/images/grey-trans.png) bottom center repeat-x;
      background-size: 18px;
    }
    .date,
    ul.links,
    .field-name-field-feed-like-button {
      position: absolute; // unfortunately needed
      bottom: 0px;
      font-size: 10px;
    }
    .date {
      left: 54px;
      top: 4px;
      bottom: inherit;
    }
    ul.links { // the flag link
      right: 4px;
      // below, am forcing the styling to limit space. Remove later.
      max-width: 75px;
      max-height: 41px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      li, a {
        padding: 0;
      }
    }
    .field-name-field-feed-like-button {
      width: 130px; //needed because ajax changes mean the reload applies the styling twice
      font-family: Arial, sans-serif;
      left:35%;
      i:before {
        padding-right: 0.2em;
      }
    }
    .field-name-field-comment-message-comments,
    .field-name-field-follow-feed-comments,
    .field-name-field-node-feed-reply {
/*      + .field-name-field-feed-like-button {// outer message 'like'
        left: 35%;
      }*/
    }

    // position all first message paragraphs. Status updates, etc. under the date.
    p[class^="msg-"] {
      margin: -25px 10px 5px 48px;
    }
    p {
      margin-left: 48px;
    }
    .field-type-entityreference {
      margin-left: 48px;
    }
  }

  // inner nested message div styling
  .entity-message {
    p[class^="msg-"] + p + p, // start with this class and then only the 3rd p
    span.activity-comment { // now includes comments made
      &:before {
        @include quotes-open;
      }
      &:after {
        @include quotes-closed;
      }
      a[href^=node] { // if exists, push more link out of quotes
        float: right;
        margin: 2em 10px 2.5em 0;
        &:before {
          content:"...";
        }
      }
      display: block;
      margin-top:5px;
      margin-bottom: 5px;
      line-height: 12px;
    }
    span.activity-comment ~ a {
      &:before {
        content:"...";
      }
      display: inline;
      float: right;
      font-size: .9em;
    }
  }

  .field-name-field-profile-comment + .field-name-field-feed-like-button {// inner reply like
    left: 44%;
  }
  // stying for replies
  .replies-wrapper {
    margin: 1em 0;
    input.toggle-com-button { // the comment/cancel toggle button
      position: absolute;
      bottom: 0;
      left: 17px;
    }
    .comment-submit-button  {
      margin-bottom: 2em;
    }
    .reply-depth-1 {
      margin-left: 1.0em;
    }
    .reply-depth-2 {
      margin-left: 2em;
    }
    .reply-depth-3,
    .reply-depth-4,
    .reply-depth-5 {
      margin-left: 3em;
    }
  }
  .reply {
    border: 1px solid lighten(#777, 30%);
    &:nth-child(odd),
    &:nth-child(even) {
      background-color: lighten(#777, 52%);
    }
  }
  .reply-links a[href*="delete"] {// temp hide the delete button to help styling
    display: none;
  }
  .replies {
    .field-name-field-image {
      max-width: 24px;
    }
  }
  .reply-body {
    .field-name-field-image {
      position: absolute !important;
      top: 2px;
      left: 2px;
    }
    .field-name-field-profile-comment-date {
      margin-left: 30px;
      min-height: 26px;
    }
    .field-name-field-display-name {
      line-height: 1.4em;
    }
  }
  .entity-reply {
    background: url(/sites/all/themes/atwork_zen/images/grey-trans.png) bottom center repeat-x;
    background-size: 18px;
    &:last-child {
      margin-bottom: 2em;
    }
  }
}





//--------- User Page Profile Activity Feed

.page-user {
  .region-post-content {
    width: 70%;
  }
  .block-atwork-activity {
    clear: left;
    > div#activity-feed > .message,
    > .message { // target the first message div of own and other's profile page
      position: relative; // get ready to position all internal elements absolutely
      margin: 2em 0 2em 4em;
      border: 1px solid #ccc;
      padding: 0.5em;
      &.even {
        background-color: lighten(#777, 49%);
      }
    }
    .form-item-status {
      margin-bottom: 5px;
    }
    #edit-status-counter {
      text-indent: 60px;
      margin-top: 6px;
    }
    .entity-message {
      margin-top: -3em; // hackey, but need to close up top space
      &.clearfix:after {
        display: inline-block; // fix for odd bottom space on first posting
      }
      p {
        margin-bottom: 10px;
      }
      p:first-of-type { // the status message shouldn't crowd the like link
        max-width: 500px;
      }
      p:first-of-type + p + p,
      .activity-comment { // adds space between the status and only the 3rd comment
        margin-top: 1em;
        display: block;
      }
      p:first-of-type + p + p:before { // target exactly the only 3rd p
        margin-left: 0.3em;
        @include quotes-open;
      }
      .activity-comment {
        margin-left: 0.3em;
        &:before {
          @include quotes-open;
        }
      }
      p:nth-last-of-type(2) {
        &:after {
          @include quotes-closed;
        }
      }
    }

    // Position most of the inner elements absolutely
    .comment-submit-button,
    .toggle-com-button,
    .field-name-field-feed-like-button,
    .date {
      position: absolute;
      margin: 0;
      padding: 0;
    }
    .comment-submit-button {
      left: 4px;
      bottom: 2px;
    }
    .field-name-field-feed-like-button {
      left: 51%;
      bottom: 0px;
      min-width: 120px;
      font-size: 10px;
      .field-name-field-feed-like-button { // new one made when clicked
        left: -20% !important;
        top: inherit;
      }
      .atwork-rate-description {
        padding: 0 0.2em;
      }
    }
    .date {
      right: 0.5em;
      top: 6px;
      font-size: 10px;
      color: lighten(#000, 60%);
    }
    .links {// post as comment button.
      position: absolute;
      margin: 0;
      padding: 0;
      bottom: 0px;
      right: 4px;
      font-size: 10px;
      li, a {
        padding: 0;
        margin: 0;
      }
    }
    .field-name-field-comment-message-comments h3 {// not sure why this is here but hide it.
      display: none;
    }
    .toggle-com-button {
      left: 17px;
      bottom: 0;
    }
    .field-name-field-image { // main image left of a post
      margin: -7px 0 0 -4.5em;
    }
    .form-textarea {
      border: 5px solid #004B8D;
      border-left-width: 10px;
      border-right-width: 10px;
    }
    label[for^="edit-field-profile-comment-und-"] {// hide all labels that begin with edit-field...
      display: none;
    }
    .block-refresh-button {// hide the refresh link
      display: none;
    }
  }
}



//---------- Comment Replies

.atwork-rate-widget-feed_like_button {
  a {
    padding: 0 0.2em;
  }
}

.reply {
  border: 1px solid #e0e0e0;
  position: relative;
  margin-bottom: 1em;
  &:nth-child(even) {
    background-color: #e8e8e8;
  }
  &:nth-child(odd) {
    background-color: #f9f9f9;
  }
  .field-name-field-profile-comment {
    margin: 1em;
    .field-item:before {
      @include quotes-open;
    }
    .field-item:after {
      @include quotes-closed;
    }
  }
  .field-name-field-profile-comment-date,
  .field-name-field-display-name {
    font-size: 10px;
  }
  .field-name-field-feed-like-button {
    left: 48%; // these have to be positioned from left, not right for rollover to work
    &.field-label-hidden {
      position: relative;
    }
  }
}
// Post as Employee News Selector Toggle
.field-name-field-post-as-employee-news label.option {
  display:inline!important;
}
.toggle-com-button[value="Comment"] ~ .field-name-field-post-as-employee-news {
  display: none!important; // Hides the option is the value of the toggle is Comment
}
.reply-body,
.reply-links {
  padding: 0.2em;
}

.page-user .block-atwork-activity { //override
  .reply-body {
    .field-name-field-image {
      margin: 0;
    }
  }
}



.commentLinks .comment-delete a,
.commentLinks .comment-edit a,
.commentLinks .comment-reply a,
.reply-links a {
  @include button-small;
  margin-right: 0.5em;
}

// Nesting Depth
.replies-wrapper {
  .reply-depth-1 {
    margin-left: 1.5em;
  }
  .reply-depth-2 {
    margin-left: 3em;
  }
  .reply-depth-3,
  .reply-depth-4,
  .reply-depth-5 {
    margin-left: 3em;
  }
  .comment-count-link {
    margin-top: 1em;
  }
}

// Common Reply and Edit pages

.page-reply {
  #main {
    width: 620px;
  }
  .field-label {
    display: none;
  }
  .field-name-field-feed-like-button {
    position: absolute;
    left: 50%;
    top: 8px;
    font-size: 10px;
  }
  ul.links {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    li {
      margin: 0;
      padding: 0;
      font-size: 10px;
    }
  }
  #reply-form { // the reply box
    textarea {
      padding: 0.5em;
    }
    .form-submit { // submit button
      margin-right: 1em;
    }
  }
}





//------------------ Pop-out User Activity Window specifics

.new-activity-window {
  #atwork-advanced-feed-settings,
  .feed-ad-space-image,
  .feed-ad-space-outer,
  #block-block-7 {
    display: none;
  }
  #header-box {
    width: inherit!important;
  }
  #social-side #status-update {
    width:inherit!important;
  }
  #social-side #status-update div#speech-pointer {
    margin-top: 10px;
  }
  #social-side #status-update .form-textarea-wrapper {
    float:none;
    display: inline-block;
    margin-left: 0px;
  }
  #social-side #status-update .form-textarea-wrapper textarea {
    width: 100%;
  }
}


.new-activity-window {
  background-color: #D7D7D7;
  overflow: hidden;
  #block-atwork-activity-homepage {
    width: 275px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    top: 20px;
  }
  .atwork-activity-block-container {
    padding: 5px;
  }
  #full_menu {// hide the hamburger menu
    display: none;
  }
/*  .jsNewActivityWindow {// hide pop-out button
    display: none;
  }*/
  .feed-ad-space-outer h2 {
    background-color: transparent;
    color: #333;
  }
}

// Moved Chris files from atworklayout to here for the feed. Needs to be Sassily cleaned
/* Pop Window on front page for the Social Sidebar */
// Don't use a node id. There is a custom class called 'new-activity-window'

#page.new-activity-window {
  #admin-menu #admin-menu-wrapper,
  #headerbox,
  #block-atwork-profiles-header,
  #block-block-7 {
  display: none!important;
}
}
.new-activity-window #block-atwork-mobile-atwork-mobile-menu-block,
.new-activity-window #social-side #atwork-advanced-feed-settings {
  display:block!important;
}
.new-activity-window {
  width: 275px!important;
  min-width:initial!important;
}
.new-activity-window {
  background-color: #FFF;
}
.new-activity-window #header.header {
  background: none;
  height:60px!important;
}
.new-activity-window .atwork-activity-block-container {
  margin-top:6px;
}
.new-activity-window #social-side .region-social-side{
  position: initial;
  margin: 0px auto;
}
.not-front .new-activity-window #social-side {
  .block-header-inner {
    margin-top: 0;
  }
  h2 {
    position: initial;
    margin-top: 0;
    padding: 5px 10px;
    background-color: #818283;
    color: #FFF;
    }
}
.not-front .new-activity-window #social-side .item-list {
  position: inherit;
}




//----------------- End Pop-out User Activity Window
