/*-----------------  User Page User Activity Feed --------------------*/

.page-user {
  .region-post-content {
    width: 70%;
  }
  .block-atwork-activity {
    clear: left;
    .form-textarea {
      border: 5px solid #004B8D;
      border-left-width: 10px;
      border-right-width: 10px;
    }
    > div > .message {
      position: relative; // sets us up to position all internal elements
      margin: 2em 0 2em 4em;
      border: 1px solid #ccc;
      padding: 0.5em;
      &.even {
        background-color: #f5f5f5;
      }
      .field-label {
        display: none;
      }
      .entity-message {
        margin-bottom: 1em;
      }
      // Position most of the inner elements absolutely
      .comment-submit-button,
      .date, 
      .links,
      .field-name-field-feed-like-button,
      .toggle-com-button {
        position: absolute;
        bottom: 0;
        margin: 0;
        padding: 0;
      }
      .field-name-field-feed-like-button { 
        right: 22em;
        bottom: 1px; // raise it a bit higher
      }
      .comment-submit-button {
        left: 0.5em;
      }
      .date {
        right: 0.5em;
        font-size: smaller;
        color: lighten(#000, 60%);
      }
      .links {// post as comment button.
        right: 9em;
        li {
          padding: 0;
        }
      }
     .field-name-field-comment-message-comments h3 {// not sure why this is here but hide it.
        text-indent: -9999px; 
      }
      .toggle-com-button {
        right: 27em;
        // bottom: 3px;
        background:none!important;
        border:none; 
        padding:0!important;
        font: inherit;
        color: #135ab0;
        cursor: pointer;
        &:hover {
        text-decoration: underline;
        color: black;
        }
      }
      .field-name-field-image {
        float: left;
        margin-left: -4.5em;
      }
      .reply-body .field-name-field-image {
        float: left;
        margin: 0 1em 0 0;
        img {
          width: 50%;
        }
      }
    }
    .form-textarea {
      border: 5px solid #004B8D;
      border-left-width: 10px;
      border-right-width: 10px;
    }
    label[for^="edit-field-profile-comment-und-"] {// hide all labels that begin with edit-field...
      display: none;
    }
    .block-refresh-button {// hide the refresh link
      display: none;
    }
    // Initially hide the comment textarea and submit button and unhide with .js
    .comment-submit-button,
    .field-name-field-profile-comment .form-textarea-wrapper {
      display: none;
    }
    .comment-submit-button-show,
    .field-name-field-profile-comment-show .form-textarea-wrapper {
      display: block;
    }
  }
}



/*----------------- End User Page User Activity Feed --------------------*/

// Front page Activity Feed

.front {
  .block-atwork-activity {
    .jsNewActivityWindow {// the pop-out linked button
      position: absolute;
      top: 5px;
      right: 4px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

/*----------------- Pop-out User Activity Window --------------------*/

.new-activity-window {
  background-color: #D7D7D7;
  overflow: hidden;
  #block-atwork-activity-homepage {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    top: 20px;
  }
  #full_menu {// hide the hamburger menu
    display: none;
  }
  .jsNewActivityWindow {// hide pop-out button
    display: none;
  }
}

/*----------------- End Pop-out User Activity Window --------------------*/

/*----------------- Comment Replies --------------------*/

.field-name-field-profile-comment-date,
.field-name-field-display-name {
  font-size: smaller;
  opacity: 0.7;
}

.field-name-field-display-name {
  position: absolute;
  top: 2px;
  right: 4px;
  left: inherit !important;
}

div.reply {
  border: 1px solid #e0e0e0;
  position: relative;
  margin-bottom: 1em;
  &:nth-child(even) {
    background-color: #fcfcfc;
  }
  &:nth-child(odd) {
    background-color: #f9f9f9;
  }
  .field-name-field-profile-comment {
    margin: 1em 0;
    .field-item:before {
      @include quotes-open;
    }
  }
}

.reply-body,
.reply-links {
  padding: 0.3em;
}

.reply-links a { 
  @include button-small;
  margin-right: 0.5em;
}