

// Front page Activity Feed

.front {
  .block-atwork-activity {
    h2 {
      text-align: left !important;
      margin-left: 1em;
    }
    .jsNewActivityWindow,
    .activity-filters-my,
    .activity-filters-all {// common buttons in header of home activity feed
      position: absolute;
      top: 14px;
      border: none;
      padding: 0;
    }
    .jsNewActivityWindow {// the pop-out linked button
      right: 6px;
      top: 12px;
      &:hover {
        opacity: 0.7;
      }
    }
    .activity-filters-my {// button to show filters for my-actions
      right: 70px;
      width: 16px;
      background: url(/sites/all/themes/atwork_zen/images/icons/activity-selectors-mine-off.png) no-repeat center center;
      &:hover {
        background: url(/sites/all/themes/atwork_zen/images/icons/activity-selectors-mine-on.png) no-repeat center center;
      }
    }
    .activity-filters-all {// button to show filters for all-activity
      right: 28px;
      width: 36px;
      background: url(/sites/all/themes/atwork_zen/images/icons/activity-selectors-group-off.png) no-repeat center center;
      &:hover {
        background: url(/sites/all/themes/atwork_zen/images/icons/activity-selectors-group-on.png) no-repeat center center;
      }
    }
  }
}

.block-refresh-button {
  display: none;
}

/*----------------- Pop-out User Activity Window --------------------*/

.new-activity-window {
  background-color: #D7D7D7;
  overflow: hidden;
  #block-atwork-activity-homepage {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    top: 20px;
  }
  #full_menu {// hide the hamburger menu
    display: none;
  }
  .jsNewActivityWindow {// hide pop-out button
    display: none;
  }
}

/*----------------- End Pop-out User Activity Window --------------------*/
