/*----------------- User Profile User Activity Feed --------------------*/

.block-atwork-activity {
  float: left;
  clear: left;
  min-width: 70%;
  .form-textarea {
    border: 5px solid #004B8D;
    border-left-width: 10px;
    border-right-width: 10px;
  }
  > div > .message {
    position: relative; /* sets us up to position all internal elements */
    margin: 2em 0;
    border: 1px solid #ccc;
    padding: 0.5em;
    .field-label {
      display: none;
    }
    .date {
      position: absolute;
      bottom: 0.1em;
      right: 0.5em;
      font-size: smaller;
      color: lighten(#000, 60%);
    }
    .field-name-field-image {
      float: left;
      margin-right: 2em;
    }
  }
}



/*----------------- End User Profile User Activity Feed --------------------*/