/*----------------- Following/ers Blocks --------------------*/

#block-views-people-admin-block-followers,
#block-views-people-admin-block-following {
  width: 220px;
  float: right;
  position: relative;
}

#block-views-people-admin-block-followers .view-header,
#block-views-people-admin-block-following .view-header {
  position: absolute;
  top: 0;
  right: 0;
}

#block-views-people-admin-block-following {
  margin-top: 1em;
  margin-bottom: 2em;
}

#block-views-people-admin-block-followers {
  clear: right;
}

#block-views-people-admin-block-followers .view-empty,
#block-views-people-admin-block-following .view-empty,
#block-views-people-admin-block-followers .view-content,
#block-views-people-admin-block-following .view-content {
  padding-top: 1em;
}

#block-views-people-admin-block-followers .view-content a,
#block-views-people-admin-block-following .view-content a {
  float: left;
  margin: 8px 0;
}

#block-views-people-admin-block-followers .view-content a:nth-child(3n+2),
#block-views-people-admin-block-following .view-content a:nth-child(3n+2) {/* target the 2nd, 5th, and so on */
  margin: 8px 20px;
}


#block-views-people-admin-block-followers .more-link,
#block-views-people-admin-block-following .more-link {
  clear: both;
}

#block-views-people-admin-block-followers .pager,
#block-views-people-admin-block-following .pager {/* need paged results for counter but hide the actual pager */
  display: none;
}

#block-views-people-admin-block-followers .more-link a,
#block-views-people-admin-block-following .more-link a {
  text-align: right;
  font-size: smaller;
}

#block-views-people-admin-block-followers h2,
#block-views-people-admin-block-following h2 {
  padding: 0;
  line-height: normal;
  border-bottom: solid 1px;
  margin-top: 0 !important;
}
