// Styling for comments, comment boxes, etc.

/*-----------------  User Page User Activity Feed --------------------*/

.page-user {
  .region-post-content {
    width: 70%;
  }
  .block-atwork-activity {
    clear: left;
    .form-textarea {
      border: 5px solid #004B8D;
      border-left-width: 10px;
      border-right-width: 10px;
    }
    > div > .message {
      position: relative; // sets us up to position all internal elements
      margin: 2em 0 2em 4em;
      border: 1px solid #ccc;
      padding: 0.5em;
      &.even {
        background-color: #f5f5f5;
      }
      .field-label {
        display: none;
      }

      // Position most of the inner elements absolutely
      .comment-submit-button,
      .toggle-com-button,
      .field-name-field-feed-like-button,
      .date {
        position: absolute;
        margin: 0;
        padding: 0;
      }
      .comment-submit-button {
        left: 6px;
        bottom: 0;
      }
      .field-name-field-feed-like-button {
        left: 29em;
        top: 6px;
      }
      .date {
        right: 0.5em;
        bottom: 2px;
        font-size: smaller;
        color: lighten(#000, 60%);
      }
      .links {// post as comment button.
        position: absolute;
        margin: 0;
        padding: 0;
        top: 4px;
        right: 4px;
        li {
          padding: 0;
          margin: 0;
        }
      }
     .field-name-field-comment-message-comments h3 {// not sure why this is here but hide it.
        text-indent: -9999px; 
      }
      .toggle-com-button {
        left: 6px;
        bottom: 0;
        background:none !important;
        border:none;
        padding:0 !important;
        font: inherit;
        color: #135ab0;
        cursor: pointer;
        font-size: smaller;
        &:hover {
          text-decoration: underline;
          color: black;
        }
      }
      .field-name-field-image {
        float: left;
        margin: -8px 0 0 -4.5em;
      }
      .reply-body .field-name-field-image {
        float: left;
        margin: 0 1em 0 0;
        img {
          width: 50%;
        }
      }
    }
    .form-textarea {
      border: 5px solid #004B8D;
      border-left-width: 10px;
      border-right-width: 10px;
    }
    label[for^="edit-field-profile-comment-und-"] {// hide all labels that begin with edit-field...
      display: none;
    }
    .block-refresh-button {// hide the refresh link
      display: none;
    }
    // Initially hide the comment textarea and submit button and unhide with .js
    .comment-submit-button,
    .field-name-field-profile-comment .form-textarea-wrapper {
      display: none;
    }
    .comment-submit-button-show,
    .field-name-field-profile-comment-show .form-textarea-wrapper {
      display: block;

    }
  }
}

/*----------------- End User Page User Activity Feed --------------------*/


/*----------------- Comment Replies --------------------*/

.field-type-reply {
  margin: 1em;
}

.atwork-rate-widget-feed_like_button {
  a {
    padding: 0 0.3em;
  }
}

.reply {
  border: 1px solid #e0e0e0;
  position: relative;
  margin-bottom: 1em;
  &:nth-child(even) {
    background-color: #fcfcfc;
  }
  &:nth-child(odd) {
    background-color: #f9f9f9;
  }
  .field-name-field-profile-comment {
    margin: 1em;
    .field-item:before {
      @include quotes-open;
    }
  }
  .field-name-field-profile-comment-date,
  .field-name-field-display-name {
    font-size: smaller;
    opacity: 0.8;
  }
  .field-name-field-feed-like-button {
    left: 51% !important; // these have to be positioned from left, not right for rollover to work
    &.field-label-hidden {
      position: relative;
    }
  }
}

.reply-body,
.reply-links {
  padding: 0.3em;
}

.commentLinks .comment-delete a,
.commentLinks .comment-edit a,
.commentLinks .comment-reply a,
.reply-links a {
  @include button-small;
  margin-right: 0.5em;
}

// Nesting Depth
.replies-wrapper {
  .reply-depth-1 {
    margin-left: 1.5em;
  }
  .reply-depth-2 {
    margin-left: 3em;
  }
}