// Long Service Awards Registration Form 

.page-node-add-lsa-application {
  fieldset {
    background-color: #f1f1f1;
    margin: 1em 0;
    border:none;
  }
  .fieldset-legend {
    font-weight: bold;
    font-size: 13px;
  }
  .form-type-radio {
    display: inline;
    margin-right: 1em;
    // Exceptions
    .form-item-field-lsa-donation-options-und {
      display: block;
    }
  }
  .region-help li {
    padding-bottom: 1em;
  }
  .form-field-type-number-integer {
    margin: 1em 0;
  }
  input {
    background: #fafafa;
    border: 1px solid #ccc;
    padding: 2px;
    + div[id$="value-counter"] {
      margin-top: 0.8em;
    }
  }
  .form-item {
    &.form-type-textfield {
      margin-bottom: 0.5em;
      label {
        float: left;
        text-align: right !important;
        margin-right: 15px;
        width: 124px;
      }
    }
    label:first-child {
      font-weight: bold !important;
      font-size: 12px;
    }
    // Exceptions:
    label[for="edit-field-lsa-award-und-0-value"] {
      width: auto;
    }
  }
  .form-item-field-lsa-terms-und {
    @include atwork-messages(yellow, warning);
    background-color: #ffffdc;
    border-color: #dcdcdc;
    .description {
      margin-left: 4em;
      margin-top: -2em;
      font-weight: normal;
      font-size: 0.9em;
      padding: 3px;
    }
  }
  .ui-datepicker {
    background-color: #e6e6e6;
    border: 2px solid #a2a2a2;
  }
  #edit-submit {
    @include button-large;
  }
  #gift_select   {
    @include button-normal;
  }
  #lsa_gift_images_div {
    text-align: center;
    margin-top: 1em;
  }
  #block-system-help {
    p:nth-child(n+3):nth-last-child(n+1) {
      margin-left: 30px;
    }
    ol {
      margin-left: 15px;
      li {
        padding: 0;
        margin:0;
      }
    }
  }
  .required-fields.group-lsa-accom .form-required {
    float:left;
    margin-right: 5px;
  }
  #edit-field-lsa-recipient-accom {
    float:left;
    width: 40%;
  }
  #edit-field-lsa-recipient-dietary,
  .field-name-field-lsa-recipient-dietary {
    float:left;
    width: 30%;
  }
  #edit-field-lsa-guest-accom,
  #edit-field-lsa-dietary-guest {
    display: inline-block;
  }
  .form-item {
    margin: .5em;
  }
  .form-item-field-lsa-terms-und .description {
    margin-top:initial;
    margin-left: inherit;
  }
  .jqi input[type="radio"] {
    margin-right:5px;
  }
}
/* Visual fixes for the LSA RSVP registration form */
.node-type-lsa-application {
  > br:nth-child(11) {
    padding: 12px;
  }
  .form-submit {
    background-color: beige;
    margin-top: 5px;
    margin-left: 10px;
  }
  #special-dietary-requirements {
    border: solid 1px #b7b7b7;
    margin-bottom:12px;
    padding:5px;
    h3 {
      background-color:#d7d7d7;
      padding:5px 10px;
    }
    .field-name-field-lsa-dietary-requirements > .field-label:after {
      content:"*";
      color:red;
    }
    .field-name-field-lsa-recipient-dietary {
      float:left;
      margin-right: 10px;
      margin-top:5px;
      padding-bottom:10px;
      .field-items {
        display: inline-block;
        border-top:solid 1px #b7b7b7;
        border-bottom:solid 1px #b7b7b7;
        padding:5px;
      }
    }
    .field-name-field-lsa-dietary-guest {
      display:inline-block!important;
      margin-top:5px;
      padding-bottom:10px;
      .field-items {
        border-top:solid 1px #b7b7b7;
        border-bottom:solid 1px #b7b7b7;
        padding:5px;
      }
    }
    #edit-submit--20, #edit-submit--21 {
      display:none;
    }
  }
  fieldset.group-lsa-office-contact {
    margin-bottom: 15px!important;
  }
  .form-type-select > label:nth-child(1) > span:nth-child(1) {
    position:absolute;
    top:20px;
    left:0px;
  }
  #edit-field-lsa-org-und {
    font-size:.95em;
    margin-left:10px;
  }
}

// Exclude the Admin vertical tabs fieldset
.vertical-tabs {
  fieldset {
    background-color: white !important;
    label {
      width: auto !important;
    }
  }
}

// Quiz Forms

.quiz-question-multichoice {
  margin-bottom: 10px;
  .form-type-radios {
    margin: 1em 0;
  }
  tr.multichoice-row {
    background-color:#FFF;
  }
  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  td:nth-of-type(1) {
    width: 20px;
  }
  td:nth-of-type(2) {
    min-width:75px;
    padding-right:25px;
  }
}
.entity-quiz-result-answer table {
  width: 100%;
  tbody tr {
    text-align: center;
  }
  tbody td:nth-of-type(2) {
    width: 175px;
  }
}
#quiz_score_possible {
  background: beige;
  border: solid 1px #999;
  padding: 5px 10px;
  width: 40%;
  margin: 0 auto;
  text-align:center;
  font-weight: bold;
}

// Update / additions to 2018 form update. /career/long-service-awards/applications
.node-lsa-application .form-item {
  margin: 0 5px;
}
table.views-table.cols-2 {
  margin-bottom: 10px;
  td.views-field.views-field-field-lsa-ceremonydate {
    width:160px;
  }
  .fa.fa-info-circle {
    margin: 0 4px;
    color: #26669E;
    font-size: 1.2em;
  }
}
#node-lsa-application-full-group-lsad-special-requirements,
.field-name-field-lsa-retiring-thisyear {
  .form-required {
    display: none;
  }
    h2:after,
    .field-label:after {
    content:"*";
    color:red;
  }
  #edit-actions--24 {
    margin-top: 10px;
  }
}
.fa.fa-info-circle.contact-lsa {
  margin: 0 4px;
  color: #26669E;
  font-size:1.2em;
}
#node-lsa-application-full-group-lsad-special-requirements {
  .form-item.form-type-checkboxes.form-item-field-lsa-specialrequirements-und {
    margin-top:0;
  }
}
#node-lsa-application-full-group-service-information {
  margin-top: 15px;
  div[class^="field-name-field-lsa-"], div[class*=" field-name-field-lsa-"] {
    margin-bottom:5px;
  }
}
.view-header > strong:nth-child(1) > p:nth-child(3),
.view-footer > span:nth-child(1) > strong:nth-child(2) > p:nth-child(1),
#node-lsa-application-full-group-service-information > strong:nth-child(1) {
  border: solid 1px #ccc;
  padding: 3px 5px;
  display: block;
}
#node-lsa-application-full-group-service-information {
  strong:nth-child(1) {
    margin-bottom: 15px;
  }
  br {
    display: none;
  }
}
#node-lsa-application-full-group-lsad-personal-info,
#node-lsa-application-full-group-lsad-contact-info,
#node-lsa-application-full-group-lsad-supervisor-info,
.collapsible.group-lsa-office-contact {
  border: solid 1px #ccc;
  padding: 5px;
  margin: 10px 0;
  .field-label {
    width: 160px;
    text-align:right;
  }
  .field-items {
    margin-bottom: 5px;
  }
  #edit-field-lsa-middle-name-und-0-value,
  #edit-field-lsa-alt-email-address-und-0-email,
  #edit-field-lsa-office-work-group-und-0-value,
  #edit-field-lsa-work-phone-ext-und-0-value {
    margin-left: 10px; 
  }
  h2:nth-child(1) {
    margin: 0 0 10px 0!important;
    padding: 0 10px;
    background-color: #dcdcdc;
  }
}
