// Long Service Awards Registration Form 

.page-node-add-lsa-application {
  fieldset {
    background-color: #f1f1f1;
    margin: 1em 0;
    fieldset {
      background-color: darken(#f1f1f1, 4%);
      margin: 10px;
    }
  }
  .fieldset-legend {
    font-weight: bold;
    font-size: 13px;
  }
  .form-type-radio {
    display: inline;
    margin-right: 1em;
    // Exceptions
    .form-item-field-lsa-donation-options-und {
      display: block;
    }
  }
  .region-help li {
    padding-bottom: 1em;
  }
  .form-field-type-number-integer {
    margin: 1em 0;
  }
  input {
    background: #fafafa;
    border: 1px solid #ccc;
    padding: 2px;
    + div[id$="value-counter"] {
      margin-top: 0.8em;
    }
  }
  .form-item {
    &.form-type-textfield {
      margin-bottom: 0.5em;
      label {
        float: left;
        text-align: right !important;
        margin-right: 15px;
        width: 124px;
      }
    }
    label:first-child {
      font-weight: bold !important;
      font-size: 12px;
    }
    // Exceptions:
    label[for="edit-field-lsa-award-und-0-value"] {
      width: auto;
    }
  }
  .form-item-field-lsa-terms-und {
    @include atwork-messages(yellow, warning);
    background-color: #ffffdc;
    border-color: #dcdcdc;
    .description {
      margin-left: 4em;
      margin-top: -2em;
      font-weight: normal;
      font-size: 0.9em;
      padding: 3px;
    }
  }
  .ui-datepicker {
    background-color: #e6e6e6;
    border: 2px solid #a2a2a2;
  }
  #edit-submit {
    @include button-large;
  }
  #gift_select   {
    @include button-normal;
  }
  #lsa_gift_images_div {
    text-align: center;
    margin-top: 1em;
  }
}

// Exclude the Admin vertical tabs fieldset
.vertical-tabs {
  fieldset {
    background-color: white !important;
    label {
      width: auto !important;
    }
  }
}

// Quiz Forms

.quiz-question-multichoice {
  margin-bottom: 10px;
  .form-type-radios {
    margin: 1em 0;
  }
  tr.multichoice-row {
    background-color:#FFF;
  }
  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  td:nth-of-type(1) {
    width: 20px;
  }
  td:nth-of-type(2) {
    min-width:75px;
    padding-right:25px;
  }
}
.entity-quiz-result-answer table {
  width: 100%;
  tbody tr {
    text-align: center;
  }
  tbody td:nth-of-type(2) {
    width: 175px;
  }
}